In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import pickle
from imblearn.over_sampling import SMOTE
%matplotlib inline

In [2]:
df=pd.read_csv('dataset.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19100 entries, 0 to 19099
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   continue_drop       19100 non-null  object
 1   student_id          19100 non-null  object
 2   gender              19100 non-null  object
 3   caste               19100 non-null  object
 4   mathematics_marks   19100 non-null  float64
 5   english_marks       19100 non-null  float64
 6   science_marks       19100 non-null  float64
 7   science_teacher     19100 non-null  int64
 8   languages_teacher   19100 non-null  int64
 9   guardian            19100 non-null  object
 10  internet            19100 non-null  bool
 11  school_id           19100 non-null  int64
 12  total_students      19100 non-null  int64
 13  total_toilets       18762 non-null  float64
 14  establishment_year  18762 non-null  float64
dtypes: bool(1), float64(5), int64(4), object(5)
memory usage: 2.1+ MB

In [4]:
df.head()

,continue_drop,student_id,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet,school_id,total_students,total_toilets,establishment_year
0,continue,s00001,F,SC,0.409,0.514,0.409,6,0,mother,True,310,262,28.0,1985.0
1,continue,s00002,F,BC,0.290,0.512,0.290,4,7,mother,True,328,356,14.0,1943.0
2,continue,s00003,F,OC,0.602,0.666,0.602,4,2,mother,False,322,179,8.0,1955.0
3,continue,s00004,F,BC,0.378,0.526,0.378,8,7,mother,True,305,354,86.0,1986.0
4,continue,s00005,F,OC,0.536,0.614,0.536,9,4,other,True,360,273,2.0,1995.0

In [5]:
df=df.interpolate()
df=df.dropna()

In [6]:
df=df.drop(['school_id','establishment_year','total_toilets','total_students','school_id','student_id'],axis=1)

In [7]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df['internet']=lb.fit_transform(df['internet'])

In [8]:
df['guardian']=lb.fit_transform(df['guardian'])
df['gender']=lb.fit_transform(df['gender'])
df['caste']=lb.fit_transform(df['caste'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19100 entries, 0 to 19099
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   continue_drop      19100 non-null  object
 1   gender             19100 non-null  int32
 2   caste              19100 non-null  int32
 3   mathematics_marks  19100 non-null  float64
 4   english_marks      19100 non-null  float64
 5   science_marks      19100 non-null  float64
 6   science_teacher    19100 non-null  int64
 7   languages_teacher  19100 non-null  int64
 8   guardian           19100 non-null  int32
 9   internet           19100 non-null  int64
dtypes: float64(3), int32(3), int64(3), object(1)
memory usage: 1.2+ MB

In [10]:
x=df.drop('continue_drop',axis=1)
y=df['continue_drop']

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=150,test_size=0.15)

In [12]:
smote=SMOTE(sampling_strategy='auto',random_state=45)
x_resampled,y_resampled=smote.fit_resample(x_train,y_train)

In [13]:

from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [14]:
y_pred=lr.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9525305410122165

In [15]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth=10, random_state=0)

clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)
accuracy_score(y_test,y_pred)

1.0

In [16]:
input_data = pd.DataFrame({
    'gender': [0],
    'caste':[1],
    'mathematics_marks':[0.],
    'english_marks':[0.001],
    'science_marks':[0.40],
    'science_teacher':[6],
    'languages_teacher':[7],
    'guardian':[2],
    'internet':[1],
})

prediction = clf.predict(input_data)
print(prediction)

['drop']

In [17]:
count=0
for i in range(len(y_pred)):
  if y_pred[i]=='drop':
    count=count+1
print(count)

136

In [18]:
x_test

,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet
14704,1,2,0.830,0.567,0.830,0,0,2,1
14037,1,0,0.094,0.287,0.094,4,6,2,1
6787,1,0,0.797,0.977,0.797,1,6,2,1
2256,0,0,0.594,0.511,0.594,6,7,0,1
18960,1,0,0.534,0.611,0.534,5,6,1,1
...,...,...,...,...,...,...,...,...,...
3346,1,0,0.126,0.260,0.126,4,0,2,1
4363,0,2,0.481,0.754,0.481,2,7,2,1
6193,0,3,0.434,0.611,0.434,2,5,0,1
12101,1,0,0.250,0.363,0.250,1,3,2,0
13001,0,0,0.413,0.598,0.413,1,6,0,1

In [19]:
count/len(y_pred)

0.0474694589877836

In [20]:
y_pred[3]

'drop'

In [21]:
from sklearn.metrics import  classification_report,confusion_matrix
print(classification_report(y_pred,y_test))
print(confusion_matrix(y_test,y_pred))

              precision    recall  f1-score   support

    continue       1.00      1.00      1.00      2729
        drop       1.00      1.00      1.00       136

    accuracy                           1.00      2865
   macro avg       1.00      1.00      1.00      2865
weighted avg       1.00      1.00      1.00      2865

[[2729    0]
 [   0  136]]

In [22]:
model = clf

pkl_file_path = 'model.pkl'

with open(pkl_file_path, 'wb') as file:
    pickle.dump(model, file)